<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.captionvideocall.example.captionvideocall">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name = "android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.cationvideocall.example.captionvideocall.Activity.CallBookActivity"
            android:exported="true" />
        <activity
            android:name="com.cationvideocall.example.captionvideocall.Activity.WaitActivity"
            android:exported="true" />
        <activity
            android:name="com.cationvideocall.example.captionvideocall.Activity.TestActivity"
            android:exported="true" />
        <activity
            android:name="com.cationvideocall.example.captionvideocall.Activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cationvideocall.example.captionvideocall.Activity.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.cationvideocall.example.captionvideocall.Activity.ProposeCallActivity"
            android:exported="true" />
        <activity
            android:name="com.cationvideocall.example.captionvideocall.Activity.OnCallActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.cationvideocall.example.captionvideocall.Activity.NotifyCallActivity"
            android:exported="true" />
        <activity
            android:name="com.cationvideocall.example.captionvideocall.Activity.SignupActivity"
            android:exported="true" />
        <activity
            android:name="com.cationvideocall.example.captionvideocall.Activity.LoginActivity"
            android:exported="true" />

        <service
            android:name="com.cationvideocall.example.captionvideocall.FirebaseMessagingIDService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>